body, html {
  margin: 0;
  padding: 0;
   height:100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
  margin: 0 auto;

  background-color: #f1f2f4;
  background-image: url("bg.png");
  background-repeat:no-repeat;
  background-position: center top;
  font-family: "montserratextralight", sans-serif;
  font-size: 19pt;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.main-block {
  text-align: center;
}

.main-block li {
  display: inline;

  margin-right: 25px;
}

.main-block li:last-of-type{
  margin-right: 0;
}
.main-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addit-contact-info {
  align-self: center;
  margin-top: 50px;
}

.addit-contact-info a {
    text-decoration: none;
}

.main-block h1 {
  font-size: 60pt;
  font-family: "montserratextralight", sans-serif;
}

.main-block p {
  font-weight: 900;
  font-size: 26pt;
  margin-bottom: 25%;
}

a {
  color: #000;
  font-weight: bold;
  transition: 0.2s;

}

a:hover {
  color: #616161;
}
